*,*::after,*::before {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#open-popup {
    position: static;
    background-color: lightseagreen;
    border: 0;
    border-radius: 3px;
    color: white;
    font-size: 2rem;
    padding: 1rem;   
}